<!DOCTYPE html>
<html>

  {{> head }}

  <body>

    {{> header }}

    <section class="pk-bdr-l-all pk-bdr-teal500 et-container">

      {{> agenda }}

      {{> side_projects }}

      {{> etherum }}

    </section>

  </body>
</html>
