<!DOCTYPE html>
<html>

  {{> head }}

  <body>

    {{> header }}

    <section class="pk-bdr-l-all pk-bdr-green500 et-container">

      {{> agenda }}

      {{> side_projects }}

    </section>
  </body>

</html>
