@font-face {
  font-family: 'Open Sans Bold';
  src: url('../../assets/styles/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'),;
}

.et-header {
  h1 {
    font-size: 6em;
    line-height: 1.5;
  }
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

.et-container {
  p {
    margin: .5em 0;
  }
}

.et-img-portfolio {
  width: 100%;
}

.et-title {
  font-family: 'Open Sans Bold';
}

.et-text {
  font-size: 1.8em;
}

.et-buttons {
  justify-content: center;
}

.et-agenda {
  display: block;
  overflow: scroll;

  td {
    padding: 1em;
  }
}

.et-code-of-conduct {
  h3, p {
    padding: .5em 0;
  }
}

.et-tag {
  border-radius: 5px;
}

.et-list {
  li {
    list-style-type: circle;
    margin: .5em 0;
  }
}

@media all and (max-width: 993px) {
  .et-text {
    font-size: 1em;
  }

  .et-header {
    h1 {
      font-size: 2em;
    }
  }
}
