<section class="pk-pdd-l-all" id="about">
  <h2 class="pk-pdd-l-tb">El Evento</h2>

  <section class="pk-grid">
    <section class="pk-col pk-6 et-text">
      <p>BetaBeers Murcia 2017</p>
    </section>
  </section>
</section>
