<section class="pk-pdd-l-all" id="agenda">
  <section class="pk-grid pk-pdd-m-tb">
    <h2>Agenda 🗓️</h2>

    <section class="pk-col pk-6 pk-centered">
      <section class="pk-col-tbl">
        <table class="pk-tbl et-agenda">
          <thead class="pk-bdr-s-b">
            <td class="pk-w20">🕗</td>
            <td class="pk-w20"></td>
            <td class="pk-w20"></td>
            <td class="pk-w20"></td>
            <td class="pk-w20"></td>
          </thead>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-teal100">
            <td>10:30</td>
            <td>Bienvenida</td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-teal200">
            <td>11:15</td>
            <td><a href="#side-projects">Side Projects</a></td>
            <td><a href="#">Acuarela</a></td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-teal300">
            <td>12:00</td>
            <td><a href="#etherum">Etherum</a></td>
            <td><a href="#">Optimización Web</a></td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-teal300">
            <td>13:00</td>
            <td><a href="#">VR</a></td>
            <td><a href="#svg">SVG</a></td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-teal300">
            <td>16:30</td>
            <td><a href="#autogestion">Autogestión de equipos</a></td>
            <td><a href="#"></a></td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-teal300">
            <td>17:30</td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#"></a></td>
            <td><a href="#podcasting">Podcasting</a></td>
          </tr>
          <tr class="pk-bdr-s-b pk-bdr-grey800 pk-bg-teal300">
            <td>18:30</td>
            <td><a href="#"></a></td>
            <td><a href="#refactoring_kata">Kata de Refactoring</a></td>
          </tr>
        </table>
      </section>
    </section>
  </section>
</section>
