<section class="pk-pdd-l-all" id="autogestion">
  <section class="pk-grid">
    <section class="pk-col pk-6 pk-pdd-m-lr">
      <h2>Autogesti칩n</h2>

      <section class="pk-col pk-1">
        <div class="et-tag pk-mg-s-tb pk-pdd-s-all pk-bg-pink700">Equipos</div>
        <div class="et-tag pk-mg-s-tb pk-pdd-s-all pk-bg-orange300">Organizaci칩n</div>
      </section>

      <p><a href="https://twitter.com/xaviju">Xavi</a> nos cuenta c칩mo est치n organizados los equipos de <a href="https://twitter.com/kaleidosnet">Kaleidos.</a></p>

      <p>Hay un tema habitual es: como conseguir que una persona sea independiente y su trabajo no dependa tanto de, por ejemplo, un jefe o de otro equipo. Es decir: equipos autogestionados.</p>

      <p>Una de las cosas que hacen es establecer unos acuerdos de equipos, desde c칩mo gestionar problemas hasta c칩mo organizar el c칩digo, por ejemplo. Son unas t칠cnicas que se van mejorando con el tiempo, pero han comprobado que algo que suele pasar es que hay gente que asume m치s responsabilidades de otras.</p>

      <p>Es muy f치cil escudarse en que "otra persona es responsable", y es normal que los que tienen m치s responsabilidad sean cargos m치s "altos", por lo que los cargos m치s "bajos" tienden asumir menos responsabilidades.</p>

      <p>Al final, cada uno del equipo asume unas tareas. El problema es cuando, una tarea del equipo que suele hacer una persona, tiene que ser realizada por otra, ya sea porque dicha persona tiene m치s trabajo o est칠 de vacaciones, por ejemplo, entonces a los dem치s les cuesta m치s asumir esa "responsabilidad", ya que prefiere seguir haciendo las tareas que m치s le gustan.</p>

      <p>쯇or qu칠 puede pasar esto? Discutimos si esto pasa porque la gente no se siente preparada para asumir una tarea con la que no se siente c칩modo, no solo porque no te guste.</p>

      <p>Un ejemplo de esto es: imag칤nate que todos acordamos despu칠s de comer, limpiar. Pero alg칰n d칤a, alguien deja de hacerlo, por prisa o por cualquier raz칩n. 쮺칩mo se gestiona este problema? 쮺u치l es la soluci칩n? 쯉e vuelve a hablar?</p>

      <p>Hablamos de que muchas veces nos exusamos en el "no tenemos tiempo", ya que consideramos que unas tareas dan m치s valor que otra (ya sea esto dinero, producto...) 쯉er칤a una soluci칩n, para eso, utilizar gamificaci칩n?</p>

      <p>Es importante establecer lo que es un <a href="https://manifesto.co.uk/definition-done/">"Definition Of Done" (DoD)</a>, es decir: cu치ndo consideramos que una tarea est치 finalizada. Esto puede ser, que los tests salgan en verde, pero en definitiva es un consenso que asegura que una tarea ha sido terminada con calidad y todos est치n de acuerdo con eso.</p>

      <p>Una forma muy efectiva de currar es el pair programming, tanto con gente que lleva mucho en el equipo como con gente que acaba de entrar.</p>

      <p>Hablamos sobre c칩mo gestionar las tareas, en concreto de Pull Requests. Si una tarea es tan grande que "no hay tiempo" para hacer una PR, o que la PR es gigantesca, es una se침al de que la tarea es demasiado grande y que habr칤a que dividirla en tareas m치s peque침as. Otra regla de la que hablan para evitar tareas largas es que una nueva rama no pueda tener m치s de dos d칤as de vida.</p>

      <p>Al hilo de c칩mo repartir la probabilidad, hablamos de equipos en los que "todos hacen de todo", aunque en el equipo haya distintos niveles entre junior y senior. Se debate que, partiendo de eso, hay equipos en los que si alguien encuentra un bug, autom치ticamente tiene que arreglarlo, sea cual sea su nivel. Un bug "inmediato" es algo que NO puede llegar a producci칩n.</p>

      <p>Xavi nos pregunta c칩mo acordamos con el equipo "qu칠 es" un bug: 쯖칩mo se llega a ese acuerdo?</p>

      <p>Se habla tambi칠n de c칩mo gestionar los problemas visuales, de accesibilidad, usabilidad, maquetaci칩n, dise침o... y c칩mo es la comunicaci칩n entre perfiles de dise침o y desarrollo. Es conocido que hay muchos problemas de integraci칩n entre estos perfiles. Un PR puede incluir tambi칠n al encargado del dise침o, que tenga que aprobar lo que se ha hecho y pueda dar feedback.</p>

      <p>El problema no est치 en cuando algo es blanco o negro, sino los "grises". Es decir, cuando hay que decidir porque no est치 claro. C칩mo decidir qui칠n "tiene raz칩n", porque al no haber una contradicci칩n en el que est치 claro la posici칩n de cada uno, nadie lo tiene claro del todo. Esto se puede ver haciendo lo que es un "voto romano", donde 游녨 quiere decir de acuerdo, 游녩 en desacuerdo, y 游녥 ni s칤 ni no. Si hay mucho 游녥, quiere decir que hay un problema, porque no has logrado convencer a nadie. Previene adem치s de "falsos consensos"</p>

      <p>Se recomienda el libro: <a href="http://theseniorsoftwareengineer.com/">"The Senior Software Developer"</a>, que habla de qu칠 hacer cuando hay una discusi칩n, c칩mo abordar una PR, que pueden venir muy bien para el trabajo diario en equipo.</p>
    </section>
  </section>
</section>
