<section class="pk-pdd-l-all" id="etherum">
  <section class="pk-grid">
    <section class="pk-col pk-6 pk-pdd-m-lr">
      <h2>Etherum</h2>

      <h3>Criptomonedas</h3>

      <section class="pk-col pk-1">
        <div class="et-tag pk-mg-s-tb pk-pdd-s-all pk-bg-orange700">Blockchain</div>
        <div class="et-tag pk-mg-s-tb pk-pdd-s-all pk-bg-green600">Bitcoin</div>
        <div class="et-tag pk-mg-s-tb pk-pdd-s-all pk-bg-yellow800">Criptomoneda</div>
      </section>

      <p>Blockchain es una base de datos distribuida, segura, y que no necesita veracidad de las accioens que se guardan en el blockchain: o sea, no hace falta un banco central ni ningún tipo de intermediario que verifique que lo que contiene es verdadero. Todos los nodos son los que certifican, mediante un protocolo, estos valores. Es una "red de confianza".</p>

      <p>Es una burbuja de especulación.</p>

      <p>A día de hoy la volatilidad de las criptomonedas es espectacular. Si vemos el gráfico de bitcoin, es una montaña rusa. El mercado puede bajar el 50% de un día a otro. Esto ocurrió, por ejemplo, cuando iba a haber un fork de Bitcoin, o cuando hubo una amenaza de hackear Etherum.</p>

      <p>Ethereum es una máquina virtual de criptomoneda. La diferencia entre un Ether y un Bitcoin es que uno es un sistema virtual distribuida, Bitcoin es una moneda virtual. Ether te da la posibilidad de hacer contratos distribudios, porque tienen estado, no como Bitcoin que es un sistema transaccional. Cad aoperación en un nodo de Ether tiene un "gas" concreto que se cuantifica en tanto "Ether". El propio creador de Ether (<a href="https://twitter.com/vitalikbuterin">Vitalik</a>) ha dicho que los movimientos especulativos sobre Ether son una amenaza para el sistema. Al final, yo como especulador, compro unos Ether, los cambio por Bitcoins, espero que suban o bajen... </p>

      <p>Hoy en día, los ICOs consiste en comprar una cantidad de moneda valorada en una cantidad de Ether concreto. Por ejemplo, para conseguir financiación, valor mi empresa en cien millones de monedas "Aragon", las voy a vender valoradas en, por ejemplo, tres mil Ethers. La gente quiere comprar entonces diez monedas de Aragon, de manera que se genera un contrato inteligente y en el blockchain se va anotando a quién var perteneciendo estas monedas.</p>

      <p>Los Ether cada día valen más porque cada vez hay más demanda, ya que es muy fácil para mí como empresa hacer un contrato y generar transaccionalidad. Así, en esta burbuja la gente está metiendo su dinero.</p>

      <p>¿Y no hay normas? Todavía no, porque, realmente, no es dinero.</p>

      <p>¿Y cuando la burbuja explote? Entonces el Ether podría empezar a tener el valor que realmente debe de tener. Un ejemplo de su uso: no necesito un registrador de la propiedad. La pregunta es, ¿nos conviene esto como sociedad? :)</p>

      <p>Un blockchain es inviolable. Nadie puede añadir un "cero", ya que cada bloque se basa en el bloque anterior.</p>

      <p>¿Qué ocurre cuando hay una compraventa de Etherum? Hay varias cosas: las transacciones se almacenan en un bloque, y cada bloque hay que minarlo. Para que yo pueda meter algo en la base de datos distribuida, necesito resolver un problema criptográfico muy importante. Tengo unos datos (wallet de origen, wallet de destino, o cualquier tipo de datos, puede ser una imagen o un poema) y consiste en buscar un hash aleatorio. El poder para minar esto es muy importante. Resolver este hash, que hace que esta ecuación esté resuelta, entonces mina un bloque entero y lo envía al blockchain (donde puede haber varias transacciones.) Se puede dar que varios nodos hayan resuelto este hash. Entonces se establece un consenso (<a href="https://learncryptography.com/cryptocurrency/51-attack">regla del 51%</a>). Cuando encuentras el hash no quiere decir que lo tengas, ya que las transacción se tiene que confirmar.</p>

      <p>En Ether, se tienen que ejecutar ahora mismo unas 2^69 operaciones para conseguir encontrar un hash. Minar un block de etherum se pueden necesitar un millón de dólares al día. El blockchain no escala indefinidamente.</p>

      <p>La única manera de generar bitcoins, por ejemplo, es minando bloques. Es un premio por resolver este problema criptográfico. Para monificar un bloque nuevo, necesitas un minero, que está generando hashes constantemente hasta que encuentra el que necesitas. Ahora, yo no puedo meter una transacción al blockchain, sino que la publico a la red de bitcoin y digo: quiero que esta transacción forme parte del blockhain. Para eso, tengo que ofrecer una recompensa (que puede ser lo que tú quieras, desde un porcentaje de bitcoin). Los mineros deciden si lo aceptan o no.</p>

      <h3>Definiciones</h3>

      <ul>
        <li>ICO: Initial Coin Offering. </li>
      </ul>

    </section>
  </section>
</section>
