<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>The Anti Event 2017</title>
  <link rel="stylesheet" href="./assets/styles/dependencies/hover.min.css">
  <link rel="stylesheet" href="./assets/styles/dependencies/phoenix-toolkit.min.css">
  <link rel="stylesheet" href="./build/assets/style.css">
</head>
