<header class="pk-bg-teal500 et-header">
  <nav class="pk-nav pk-nav-fxd pk-bg-teal500 pk-bdr-l-l pk-bdr-l-r pk-bdr-transparent">
    <ul class="pk-nav-link-list pk-nav-link-list-r">
      <li><a class="pk-nav-link pk-bg-hv-teal300" href="#">Incio</a></li>
      <li><a class="pk-nav-link pk-bg-hv-teal300" href="#agenda">Agenda</a></li>
    </ul>
  </nav>

  <section class="pk-grid pk-pdd-l-all pk-f-white">
    <section class="pk-col et-title">
      <h1>The AntiEvent 2017</h1>
      <h4>Apuntes sobre las charlas</h4>
    </section>
  </section>
</header>
