<section class="pk-pdd-l-all" id="podcasting">
  <section class="pk-grid pk-pdd-m-tb">
    <section class="pk-col pk-6 pk-pdd-m-lr">
      <h2>Podcasting</h2>

      <h3>Wecodesign</h3>

      <p><a href="https://twitter.com/IgnaciodeNuevo">Ignacio</a> comienza contando el podcast <a href="http://wecodesignpodcast.com/">Wecodesign</a>, que lleva junto a <a href="https://twitter.com/carmenansio">Carmen</a>. Lo comenzó como herramienta para estar al día en el ámbito del diseño y desarrollo web, y así además tener un proyecto personal. Ellos viven en ciudades diferentes (Madrid y Barcelona respectivamente), por lo que graban los podcasts en remoto.</p>

      <p>Ignacio comenta que su equipo de grabación ronda los 250 euros. Además, ahora el podcast lo editan profesionales, por lo que les cuesta un dinero extra. Hay muchos problemas ya que los entrevistados también son a distancia. Ha habido muchos problemas, desde gatos jugando con un cuenco de metal, un compañero que se está duchando en el baño de al lado... Para solucionar esto, suelen hacer alguna llamda anterior con el entrevistado para hacer pruebas de sonido y ver si hay algún problema.</p>

      <p>Hay cosas que vas aprendiendo con la práctica. Un ejemplo es tener cuidado con la pronunciación de las eses, evitar los "eeeeeh" antes de hablar, respirar apartado del micro, no mover la silla, cuidado con los movimientos. Hay que tener cuidado si quieres buscar alguna referencia en Internet, puede haber ruido al teclear.</p>

      <p>Lo más importante son los micrófonos. Hay dos tipos de micrófonos: de condensador (con mucha sensibilidad). Muy importante también los <a href="https://www.amazon.es/pantallas-antiviento-filtros-anti-pop-microfonos/b?ie=UTF8&node=4965660031">"anti-pop"</a>, y son muy baratos. Un dato interesante: los micrófonos que vienen en los auriculares de iPhone graban muy bien. Hay muchos tipos de micrófonos: unos que tienen varias posiciones (por ejemplo, grabar a dos personas, situadas una enfrente de la otra).</p>

      <p>Para grabar los podcasts eligen Skype a la hora de las entrevistas, ya que la calidad es bastante mejor que otras herramientas, como por ejemplo, Hangouts.</p>

      <p>Tienen una lista de temas y ponentes en <a href="https://github.com/WeCodeSign/nuevos-episodios-e-invitades">GitHub</a></p>

      <p class="pk-f-teal600">(Nota: hemos hablado de muchas cosas muy diversas difíciles de apuntar aquí. Si alguien más se anima, adelante). Besis.</p>
    </section>
  </section>
</section>
