<section class="pk-pdd-l-all" id="side-projects">
  <section class="pk-grid pk-pdd-m-tb">
    <section class="pk-col pk-6 pk-pdd-m-lr">
      <h2>Side Projects</h2>

      <h3>Windtoday</h3>

      <section class="pk-col pk-1">
        <span class="et-tag pk-mg-s-tb pk-pdd-s-all pk-bg-yellow700">Emoji</span>
        <span class="et-tag pk-mg-s-tb pk-pdd-s-all pk-bg-blue700">Windsurf</span>
        <span class="et-tag pk-mg-s-tb pk-pdd-s-all pk-bg-red700">Negocio</span>
      </section>

      <h4>Experiencias</h4>

      <p><a href="https://twitter.com/kikobeats">@KikoBeats</a> cuenta cómo empezó haciendo paquetes NPM un poco chorra, como una librería de emojis con millones de descargas. Pero, se preguntó... ¿por qué "lo más humillante que tengo es lo que más ha triunfado"?</p>
      <p>No se puede poner en LinkedIn. "Quiero hacer un side project, pero no a cualquier precio."</p>
      <p>Muchas veces hay muchas ideas y no sabes por dónde empezar. ¿Cuánto tiempo voy a tardar? ¿Cómo de grande es la idea? Así empezó haciendo una aplicación enfocada al negocio del Windsurf.</p>
      <p><a href="https://windtoday.co/">Windtoday</a> es un buscador de anuncios de segunda mano de artículos de Windsurf. Al final, es algo que él quería aprender sobre algo que le gustaba.</p>
      <p>Para guardar toda la información de los artículos, que "escrapeaba" de otras webs, utilizó <a href="https://www.algolia.com/">Algolia.</a></p>
      <p>¿Y el código? ¿Qué framework utilizar? Da igual, no es el objetivo, no hay que construir un castillo súper grande, porque se hace bola. Hay gente que hace proyectos geniales con JQuery</p>
      <p>Además, como en el caso de Windtoday, Kiko tuvo la oportunidad de crear un escenario par aprobar Algolia, con los que ha ido contactando y con los que ha colaborado.</p>
      <p>Todo esto, además, está en GitHub, y se puede ver el curso del proyecto, desde ser un prototipo rápido con JQuery hasta la estructura actual hecha con React.</p>

      <h4>Herramientas</h4>

      <p>Cuando haces un proyecto, y más si es open source, existen un montón de herramientas que puedes utilizar GRATIS. Entre ellas, está Algolia, que ya hemos mencionado, pero también Travis, Trello, GitHub...</p>

      <h4>Aprendizaje</h4>

      <p>El código es importante, pero no lo más importante. Un side proyect te permite aprender sobre producto, sobre cómo hablar con posibles futuros clientes, escribir correos, marketing online... "La clave es priorizar".</p>
      <p>Lo que mola es pensar un producto y desarrollarlo</p>
      <p>¿Y las ideas? Lo mejor es compartir las ideas. Porque, ¿y si alguien te resuelve un problema? ¿Y si te dan feedback?</p>

      <h4>Inspiración</h4>

      <p>¿Sabéis quién es <a href="https://twitter.com/levelsio">Pieter Levels</a>? Empezó haciendo 12 startups en 12 meses y ahora tiene un montón de side proyects por los que la gente paga y que además, están increíbles. Y el código no es brillante, pero como hemos dicho antes, eso no es lo más importante. Además, comparte cómo hace los proyectos.</p>
      <p>Un ejemplo de producto que hizo Pieter Levels: Pagar si no cumples retos. Por ejemplo: "Voy a leer el Seños de los Anillos en dos meses. Si no, te pago 100 euros". Con que uno te pague, no está mal, ¿no?</p>

      <h4>Comentarios</h4>

      <p>Se ha hablado de algún proyecto que aquí no se puede contar #hype #misterio</p>
    </section>
  </section>
</section>
